@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 3px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(17, 16, 16);
  width: 100%;
  overflow-x: hidden;
  /* overflow-x: hidden; */
  /* color: whitesmoke; */
}

a {
  text-decoration: none;
  color: inherit;
}

#header {
  display: inline-flex;
  position: sticky;
  top: 0px;
  color: aliceblue;
  width: 100%;
  height: 70px;
  background: rgb(17, 16, 16);
  /* background: rgb(231, 221, 221); */
  justify-content: space-around;
  z-index: 1;

  /* border: 3px solid white; */
}



#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
  color: rgb(17, 17, 17);
  font-family: 'Secular One';
  font-weight: bold;
  font-size: 30px;
  outline: none;
  cursor: pointer;

  animation: animate 5s linear infinite;
}

@keyframes animate {

  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #0e3742;
    text-shadow: none;
  }

  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
  }

}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  font-family: 'DM Mono';

  cursor: pointer;

  /* border: 3px solid white; */
}

.navelements {
  margin: auto 25px;
  font-weight: 500;
  color: whitesmoke;
}

.navelements:hover {
  text-shadow: 2px 2px 2px violet;
}

.navelements:active {
  color: yellowgreen;
}

#contactme {
  display: flex;
  /* margin-right: 40px; */
  font-size: 18px;
  height: 40px;

  align-items: center;
  justify-content: center;
  color: whitesmoke;
  padding: 0px 10px;
  background: rgb(63, 63, 255);
  border-radius: 8px;

  /* border: 3px solid white; */
}

#contactme:hover {
  background: rgb(97, 97, 255);
}

#contactme:active {
  box-shadow: 0px 0px 2px 2px blue;
}

section {
  width: 90vw;
  margin: auto;
  margin-top: 8%;
  color: whitesmoke;
}

#intro {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  /* margin: auto; */
  margin-top: 2%;
  padding-top: 9%;
  animation: entry 1s ease-in 1;

  /* border: 3px solid white; */
}

@keyframes entry {
  0% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
    /* padding-top: 0px; */
  }
}

#writehold {
  font-size: 3.8rem;
  font-family: 'Secular One';
  color: whitesmoke;
}

.info {
  color: whitesmoke;
  /* border: 3px solid white; */
}

span {
  color: yellowgreen;
  text-decoration: underline;
}

#box2 {
  margin-top: 20px;
  font-size: 20px;
}

#box2 span {
  color: rgb(96, 96, 255);
  text-decoration: none;
}

#box3 {
  width: 250px;
  height: 250px;
  background: url('Profilepictures/propic.png');
  background-size: contain;
  background-repeat: no-repeat;
}


#projects {
  font-family: 'DM Mono', monospace;
  /* border: 3px solid red; */
}

h1 {
  font-size: 45px;
  color: whitesmoke;
  padding-left: 8%;
  padding-top: 6%;
}

.card-list {
  display: flex;
  width: 77vw;
  height: 400px;
  /* padding: 3rem; */
  margin-left: 5rem;
  margin-top: 4%;
  overflow-x: scroll;
  border-left: 3px solid purple;
  border-right: 3px solid purple;
  border-radius: 15px;
  /* border: 3px solid white; */
}

.card-list::-webkit-scrollbar {
  /* display: none; */
  width: 10px;
  height: 7px;
}


.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 1rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: auto auto;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:focus-within~.card,
.card:hover~.card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}


.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: .25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* filter: grayscale(100%); */
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}

.author-name {
  grid-area: auto;
  box-sizing: border-box;
  color: whitesmoke;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* -webkit-box-decoration-break: clone; */
  background-clip: text;
  border-color: white;
}


#skills {
  font-family: 'DM Mono', monospace;
  /* border: 3px solid red; */
}

#skillcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  width: 80vw;
  /* border: 3px solid red; */
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 60px;
  font-size: 35px;
  color: rgb(194, 194, 194);
  border-left: 1px solid rgb(200, 255, 0);
  text-shadow: 0px 0px 30px #1456d1f3;

  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

#c {
  border: none;
  animation-delay: 0.4s;
}

#cplusplus {
  animation-delay: 1s;
}

#java {
  animation-delay: 1.5s;
}

#python {
  animation-delay: 2s;
}

#html {
  animation-delay: 0.4s;
}

#css {
  animation-delay: 1s;
}

#js {
  animation-delay: 1.5s;
}

.ccprofiles {
  margin: 30px auto;
  width: 75vw;
}

h3 {
  padding-left: none;
  padding-top: 6%;
  font-size: 1.5em;
}

.ccprofilecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 50px auto 0px auto;
  font-size: 20px;
}

.ccprofile {
  text-align: center;
  width: 25%;
  border-left: 2px solid yellow;

  text-shadow: 0px 0px 15px #1456d1f3;
  animation: animate1 2s linear infinite;
}

#profile1 {
  border: none;
  animation-delay: 0.4s;
}

#profile2 {
  animation-delay: 1s;
}

#profile3 {
  animation-delay: 1.5s;
}

#profile4 {
  animation-delay: 0.4s;
}

.ccprofile:hover {
  text-shadow: 2px 2px 2px violet;
}

.ccprofile:active {
  color: yellowgreen;
}

#aboutme {
  font-family: 'DM Mono', monospace;
  margin-top: 150px;
}

#aboutmecontainer {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  margin-top: 3%;
}

#abtpic {
  background: url("Profilepictures/aboutpic.jpg");
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 300px;
  height: 400px;
  border-radius: 25px;
}

#abt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  /* padding-top: 50px; */
  color: whitesmoke;
}

#greetings {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 30px auto;
  font-size: 30px;
}

#greetings span {
  text-decoration: none;
  font-family: 'Rowdies';
  font-size: 45px;
}

#contactmeform {
  font-family: 'DM Mono', monospace;
  width: 100%;
  /* position: relative; */
  height: 56em;
  background: url("backgrounds/contactmebackground.jpg");
  background-size: cover;
}

#contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7%;
  position: relative;
  height: 34em;
  width: 27em;
  background: #313131;
  border-radius: 20px;
  right: -55%;
  opacity: 0.9;
}

#contactmeform h1 {
  opacity: 0.8;
}

#contactform span {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

input {
  padding: 12px 10px 12px 15px;
  background: #313131;
  border: 1px solid gray;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 1em;
  width: 270px;
}

#field {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  z-index: 1;
}

.field .inputdesc {
  position: absolute;
  left: 21%;
  margin-top: 12px;
  background: #313131;
  text-decoration: none;
  pointer-events: none;
  transition: 0.5s;
  color: whitesmoke;
  font-weight: 100;
  /* border: 3px solid red; */

}

.message textarea:valid~span,
.field input:valid~span,
.message textarea:focus~span,
.field input:focus~span {
  color: #03bcf4;
  transform: translateX(0px) translateY(-25px);
  border-left: 1px solid #03bcf4;
  border-right: 1px solid #03bcf4;
}



.message textarea {
  height: 100px;
  width: 275px;
  background: #313131;
  padding: 10px 10px 5px 10px;
  color: whitesmoke;
  font-size: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  resize: none;
}


.submit #submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 5px 25px;
  height: 45px;
  width: 275px;
  background: #2734e2ef;
  letter-spacing: 3px;
  border-radius: 15px;
  border: 2px solid rgb(0, 41, 175);
}

#submit:hover {
  background: rgb(84, 158, 255);
  cursor: pointer;
}

#submit:active {
  background: rgb(74, 197, 74);
  transform: scale(0.98);

}

footer {
  margin-top: 10%;
  width: 100%;
  border-top: 1px solid white;
}

.contacts {
  width: 85%;
  display: flex;
  align-items: center;
  margin: 20px auto;
  justify-content: space-around;
}

.mode:hover {
  text-shadow: 2px 2px 2px violet;
}

.mode:active {
  color: yellowgreen;
}

.modes1:hover {
  text-shadow: 2px 2px 2px violet;
}

.modes1:active {
  color: yellowgreen;
}


@media screen and (max-width:425px) {
  .navbar {
    display: none;
  }

  .contacts {
    flex-direction: column;
  }

  #writehold {
    font-size: 1.7rem;
  }

  #box2 {
    font-size: 0.7rem;
    margin-top: none;
  }

  #box3 {
    width: 120px;
    height: 150px;
  }

  .card-list {
    margin-left: 5px;
    width: 88vw;
  }

  h1 {
    padding-left: 5px;
    padding-top: 6px;
  }

  #skillcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .skill {
    width: 95%
  }

  #c {
    border-left: 1px solid yellow;
  }

  h3 {
    font-size: 20px;
  }

  .ccprofilecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .ccprofile {
    padding: 10px 5px;
  }

  #profile1 {
    border-left: 2px solid yellow;
  }

  #aboutmecontainer {
    width: 95vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #abtpic {
    width: 150px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #abttext {
    width: 90vw;
    margin-top: 20px;
  }

  #contactmeform {
    height: 52em;
  }

  .modes1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;
  }
}

@media screen and (max-width:345px) {
  #contactform {
    right: 17%;
    scale: 0.6;
  }
}

@media screen and (min-width:346px) and (max-width:375px) {
  #contactform {
    right: 7%;
    scale: 0.75;
  }
}

@media screen and (min-width:376px) and (max-width:425px) {
  #contactform {
    right: 0%;
    scale: 0.8;
  }
}

@media screen and (min-width:426px) and (max-width:768px) {
  .navbar {
    display: none;
  }

  #contactform {
    right: -23%;
  }

  .contacts {
    width: 95vw;
  }

  #aboutmecontainer {
    justify-content: space-between;
  }
}
