@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Prosto+One:wght@25&display=swap'); */

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #111010;
    color: whitesmoke;
    font-family: 'DM Mono', monospace;
    padding: 0;
    margin: 0;

}


#logo {
    /* padding: 30px 50px; */
    /* border: 3px solid white; */
    display: inline-block;
    font-size: 1.7rem;
    font-family: 'Secular One';
    font-weight: bold;
    position: relative;
    margin-top: 1.875rem;
    margin-left: 3.125rem;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent,#0004); */
    outline: none;
    animation: animate 5s linear infinite;

}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 160px #03bcf4;
    }

}


.navigation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    width: 24%;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    /* right:3rem; */
    top: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 3px solid red; */
    right: 30px;
}

li {
    display: inline;
    list-style: none;
    padding: 15px;
    /* color: aliceblue; */
}

/* Background for top section */
#header {
    height: 4.2rem;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(17, 16, 16);
    z-index: 1;
    /* border: 3px solid yellow; */
}

/* social designs */
#github,
#linkedin,
#twitter {
    font-size: 2rem;
    padding: 1px 5px;
    padding-top: 1px;
    margin: 0 1px;
    /* background: #111010; */
    color: #fff;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #00000080,
        5px 5px 6px #00000080,
        inset 1px 1px 1px #00000080,
        inset 1px 1px 1px #00000080;
    text-shadow: 0px 0px 10px #0072ff,
        0px 0px 15px #0072ff,
        0px 0px 20px #0072ff,
        0px 0px 25px #0072ff;

    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

#twitter {
    animation-delay: 0.4s;
}

#linkedin {
    animation-delay: 1s;
}

#github {
    animation-delay: 1.5s;
}

a {
    text-decoration: none;
    color: aliceblue;
}

#intro {
    margin: 0rem;
    margin-top: 6rem;
    width: 100%;
    /* padding-left: 9rem; */
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid white; */
    animation: entry 0.75s ease-in 1;
}

.box {
    display: inline-block;
    /* width: 500px;
    height:200px; */
    margin: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;

    /* border: 3px solid white; */

}

.p1 {
    font-family: 'Secular One', sans-serif;
    font-size: 4rem;
    text-align: left;
    /* border: 3px solid white; */
}

#span1 {
    color: greenyellow;
    text-decoration: underline;
}


#box2 {
    /* font-size: larger; */
    /* font-weight: bolder; */
    display: flex;
    /* width: 20rem; */
    align-items: center;
    justify-content: left;
    animation: entry 0.75s ease-in 1;
}

#day,
#timed,
#time,
#year {
    font-family: 'Secular One', sans-serif;
    /* font-size: 1.5rem; */
    color: #fff;
}

#day,
#timed {
    color: greenyellow;
}

#time {
    color: #00e8f0;
}

#clockletters {
    letter-spacing: 2.2px;
}

#box3 {
    width: 450px;
    margin-top: 0.75rem;
}

.p3 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    opacity: 0.5;
    letter-spacing: 1ch;
    /* border: 3px solid white; */
}


#box4 {
    text-align: left;
}

#smalltext {
    font-size: 1rem;
    font-family: 'DM Mono', sans-serif;
    font-weight: 500;
}

#span2 {
    color: greenyellow;
    font-size: 1rem;
    font-weight: 500;
}

/* Projects section */
#projects {
    margin: 0rem;
    /* border: 3px solid white; */
    width: 100%;
    margin-top: 12rem;
    animation: entry 0.75s ease-in 1;
}

.projectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: auto ; */

    border: 3px solid white;
}

.proj {
    height: 200px;
    width: 450px;
    border: 3px solid red;
    padding: 10px;
    margin: auto;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}


.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 1rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card,
.card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-header h2:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    margin: 3rem 0 0;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* filter: grayscale(100%); */
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #ff8a00;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* -webkit-box-decoration-break: clone; */
    background-clip: text;
    border-color: white;
}









/* bottom credits */
#foot {
    width: 100%;
    display: flex;
    /* margin-left: 7rem; */
    border-top: 2px solid whitesmoke;
    /* align-items: center; */
    /* text-align: center; */
    /* justify-content: center; */
    /* border: 3px solid white; */
    padding-top: 0rem;
    animation: entry 0.75s ease-in 1;

}

#socials,
#contact {
    /* border: 3px solid white; */
    width: 20rem;
    padding: 10px;
    margin: 15px;
    line-height: 3rem;
    /* align-items: center; */
    /* text-align: center; */

}

/* #socials{
    line-height:3rem;
} */
.p4 {
    font-size: 2rem;
    font-family: 'Secular One', sans-serif;
    text-decoration: underline;
}

.p5 {
    font-family: 'Exo 2', sans-serif;
    line-height: 25px;
    padding-top: 15px;
}

#socials #p6 {
    line-height: 5rem;
}



@keyframes entry {
    0% {
        opacity: 0.0;
        padding-top: 10px;
    }

    100% {
        opacity: 1;
        /* padding-top: 0px; */
    }
}

/* #discord{
    background: #fff;
    color: #000;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 5px 15px;
    transition: 0.5s;
}
#discord:hover{
    background: #1e9bff;
    letter-spacing: 0.25rem;
    box-shadow: 0 0 35px;
    
} */


/* <=425px i.e. mobiles */
@media screen and (max-width:425px) {
    #logo {
        display: block;
        /* position: inherit; */
        /* margin-left: 1rem; */
        margin: 1rem;
        font-size: 1.5rem;
        text-align: center;
    }

    #header {
        width: 100%;
        height: 3rem;
        /* position: relative; */
        margin: none;
    }

    .navigation {
        display: none;
    }

    #intro {
        display: flex;
        flex-direction: column;
        font-size: small;
        margin: 0rem;
        margin-top: 35px;
        width: 100%;
    }

    #box2 {
        font-size: 15px;
        height: 30px;
        width: 100%;
        padding: 25px 15px;
        align-items: center;
        justify-content: center;
    }

    #clockbreak {
        display: none;
    }

    #box3 {
        display: none;
    }

    .box {
        width: 100%;
        height: 6rem;
        margin: 0rem;
        padding-left: 1rem;
    }

    .p1 {
        font-size: 2rem;
        text-align: left;
    }

    #smalltext {
        font-size: 0.8rem;
        font-family: 'DM Mono', sans-serif;
    }

    #span2 {
        /* color: greenyellow; */
        font-size: 0.8rem;
    }

    #projects {
        margin: 0rem;
        width: 100%;
        margin-top: 8rem;
        padding-left: 1rem;
    }

    #foot {
        width: 100%;
        flex-direction: column;
        margin: 0rem;
        margin-top: 8rem;
        padding: 0px;
    }

    #socials,
    #contact {
        width: 16rem;
        font-size: smaller;
        /* padding: 10px; */
        /* margin:15px; */
        /* align-items: center; */
        /* text-align: center; */

    }
}

/* 426px <= x <= 768px i.e. Tablets */
@media screen and (min-width:426px) and (max-width:768px) {

    #box2 {
        display: none;
    }

    .navigation {
        display: none;
    }

    #box3 {
        width: 15rem;
        padding-top: 4rem;
    }

    #box4 {
        width: auto;
        padding-left: 20rem;
    }

    #foot {
        margin-top: 12rem;
        padding-top: 0rem;
        justify-content: space-evenly;
    }

    #socials {
        line-height: 3rem;
    }

    #socials #p6 {
        line-height: 5.6rem;
    }
}

/* 769px <= x <= 1024px i.e. small laptops */
@media screen and (min-width:769px) and (max-width:1024px) {
    #header {
        width: 100%;
    }

    #intro {
        width: 55rem;
        margin-left: 5rem;
    }

    #box2 {
        font-size: larger;
        font-weight: bolder;
        display: flex;
        width: 20rem;
        align-items: center;
        justify-content: left;
    }

    #day,
    #timed,
    #time,
    #year {
        font-family: 'Secular One', sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }

    #day,
    #timed {
        color: greenyellow;
    }

    #time {
        color: #00e8f0;
    }

    #box3 {
        padding-top: 5px;
        width: 20rem;
    }

    /* .box{
        padding-left: 5rem;
    } */
    #box4 {
        width: 33rem;
    }

    #projects {
        width: 50rem;
        margin-left: 8rem;
    }

    #foot {
        width: 100%;
        margin-top: 10rem;
        /* margin-left: 5rem; */
        text-align: center;
        justify-content: space-around;
    }
}

/* 1025px <= x <=1440px i.e. normal laptops */
@media screen and (min-width:1025px) and (max-width:1440px) {
    #intro {
        width: 70rem;
        margin-left: 8rem;
    }

    #box1 {
        width: 28rem;
    }

    #box2 {
        font-size: larger;
        font-weight: bolder;
        display: flex;
        width: 20rem;
        align-items: center;
        justify-content: left;
    }

    #day,
    #timed,
    #time,
    #year {
        font-family: 'Secular One', sans-serif;
        font-size: 1.5rem;
        color: #fff;
    }

    #day,
    #timed {
        color: greenyellow;
    }

    #time {
        color: #00e8f0;
    }

    #box4 {
        width: 40rem;
    }

    #projects {
        width: 70rem;
        margin-left: 8rem;
    }

    #foot {
        margin-top: 10rem;
        /* margin-left: 10rem; */
        justify-content: space-around;
    }
}

@media screen and (min-width:1441px) {
    #logo {
        font-size: 3.5rem;
    }

    #github,
    #linkedin,
    #twitter {
        font-size: 3.5rem;

    }

    #intro {
        width: 110rem;
        align-items: center;
        /* justify-content: center; */
        margin-left: 30rem;
        height: 20rem;
    }

    #box1,
    #box4 {
        width: 50rem;
    }

    #box2 {
        width: 40rem;
    }

    #box3 {
        width: 45rem;
    }

    #box4 {
        width: 60rem;
    }

    #bigtext {
        font-size: 120px;
    }

    #rep2 {
        font-size: 1.5rem;
    }

    #smalltext {
        font-size: 2rem;
    }

    #span2 {
        font-size: 2.5rem;
    }

    #datetime {
        font-size: 2.5rem;
    }


    #projects {
        margin-left: 30rem;
        margin-top: 30rem;
        width: 110rem;
    }

    #foot {
        /* margin-left: 8rem; */
        align-items: center;
        justify-content: space-evenly;
        margin-top: 15rem;
    }

    #socials,
    #contact {
        width: 40rem;
    }

    .p4 {
        font-size: 5rem;
    }

    .p5 {
        margin-top: 40px;
        font-size: 2rem;
        line-height: 35px;
    }

    #p6 {
        margin-top: 50px;
    }

}
